<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="vault-link.ZPM">
    <Module>
      <Name>vault-link</Name>
      <Version>1.0.6</Version>
      <Description>Wrapper to access secrets stored into key vaults</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.musketeers.vaultlink.PKG"/>
      <UnitTest Name="/tests" Package="dc.musketeers.vaultlink.unittests" Phase="test"/>
      <FileCopy Name="/python" Target="${MGRDIR}/python/"/>
    </Module>
  </Document>
</Export>
